<<<<<<< HEAD
h1 {
	color: #FF5C5C;
	text-align: center;
}


p {
	font-size: 20px;
	display: flex;
	align-self: flex-end;
	text-align: center;

}
nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;       
    }

    

  a {
        background-color: #FF5C5C;
        color: white;
        font-size: 20px;
    }
footer img {
        width: 40%;
    }
.servicos {
	
	display: flex;
	justify-content: space-between;
	justify-content: space-around;

	

}


#pop {
	border: 2px solid #FF5C5C;
	width: 300px;
	height: 300px;
	text-align: center;


}

#luxo {
	border: 2px solid #FF5C5C;
	width: 300px;
	height: 300px;
	text-align: center;


}
@media screen and (max-width: 800px) {
    body {
       background-size: contain;
       background-image: none;
    }




